<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeraEntrega"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPGRoYs7J-yTAzy4LqlZCwGznon192FBo" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".PlanesPasadosActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarFotoActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.primeraentrega.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".PlanesActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilConfActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".PlanFinalizadoActivity"
            android:exported="false" />
        <activity
            android:name=".FijarPuntoMapaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarContactosActivity"
            android:exported="false" />
        <activity
            android:name=".ElegirUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigurarHuellaActivity"
            android:exported="false" />
        <activity
            android:name=".VerGruposActivity"
            android:exported="false" />
        <activity
            android:name=".EditarGrupoActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionHuellaActivity"
            android:exported="false" />
        <activity
            android:name=".GaleriaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditarPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".PlanActivity"
            android:exported="false" />
        <activity
            android:name=".CrearPlanActivity"
            android:exported="false" />
        <activity
            android:name=".CrearGrupoActivity"
            android:exported="false" />
        <activity
            android:name=".RecomendacionesActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>